.cartitems {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: #F0FFFF;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.cartitems-header, .cartitems-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    border-bottom: 1px solid #778899;
    padding: 10px 0;
}

.cartitems-header {
    font-weight: bold;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
}

.cartitems-row {
    margin-top: 10px;
    border-radius: 8px;
    padding: 15px;
    background: white;
}

.cartitems-product-image {
    border-radius: 3px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartitems-quantity {
    width: 60px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: default;
    border-radius: 2px;
}

.cartitems-remove-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.cartitems-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.cartitems-summary {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.cartitems-summary h1 {
    margin-bottom: 20px;
}

.cartitems-summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cartitems-summary hr {
    margin: 10px 0;
}

.cartitems-checkout-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease-out;
}


.cartitems-checkout-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.cartitems-promocode {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.cartitems-promocode p {
    margin-bottom: 10px;
}

.cartitems-promobox {
    display: flex;
}

.cartitems-promobox input {
    border-radius: 8px;
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.cartitems-promocode-submit {
    border-radius: 6px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.cartitems-promocode-submit:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
